<header class="app-header">
  <div class="brand-container">
    <img src="/images/ELEBA.png" alt="Logo" class="brand-logo">
    <h1 class="brand-name">Wildora</h1>
  </div>

  <nav class="nav-links">
    <a 
      routerLink="/" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{ exact: true }"
    >Home</a>

    <a 
      routerLink="/animal" 
      routerLinkActive="active"
    >Animals</a>

    <a 
      routerLink="/endangered-animal" 
      routerLinkActive="active"
    >Endangered</a>

    <a routerLink="/animal-quiz"
    routerLinkActive="active">Which Animal Are You?</a>

  
  </nav>
</header>

<main class="main-content">
  <router-outlet></router-outlet>
  
</main>

<footer class="app-footer">
  <div class="footer-top">
    <div class="footer-links">
      <ul>
        <li><a href="https://www.worldwildlife.org/" target="_blank" rel="noopener noreferrer">WWF (World Wildlife Fund)</a></li>
        <li><a href="https://animalcaresociety.org/" target="_blank" rel="noopener noreferrer">Animal Care Society</a></li>
        <li><a href="https://www.rainforest-alliance.org/" target="_blank" rel="noopener noreferrer">Rainforest Alliance</a></li>
        <li><a href="https://www.ifaw.org/" target="_blank" rel="noopener noreferrer">IFAW (Intl. Fund for Animal Welfare)</a></li>
        <li><a href="https://mnawf.org.my/Donate/" target="_blank" rel="noopener noreferrer">Donate to MNAWF (Malaysia)</a></li>
        <li class="social-icons">
          <a href="https://www.facebook.com/worldwildlifefund" target="_blank" aria-label="Facebook">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/world_wildlife/" target="_blank" aria-label="Instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>


    <div class="footer-newsletter">
      <h3>Get Updates</h3>
      <p>Subscribe to our newsletter to receive updates and special announcements.</p>
      <form>
        <input type="email" placeholder="Email" required>
        <input type="text" placeholder="First Name" required>
        <button type="submit">Sign Up</button>
      </form>
    </div>

    <div class="footer-contact">
      <h3>Send Us a Message</h3>
      <p>(03)-7450 3773</p>
      <p>1, Jln PJS 5/28 A,<br>Pusat Dagangan Petaling Jaya Selatan,<br> 46150 Petaling Jaya, Selangor</p>
      <img src="/images/ELEBA.png" alt="Wildora Logo" class="footer-logo">
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 Wildora. All Rights Reserved</p>
    <div class="footer-policy-links">
      <a href="#">Privacy Policy</a>
      <span>|</span>
      <a href="#">Website by Group 9</a>
    </div>
  </div>
</footer>

